form{
    padding: 60px;
    max-width: 400px;
    background-color: #E7E7E7;
    background:#7392b7;
    margin: 0 auto;
  }


form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color:#c5d5ea; 
    font-size: 1em;
    resize: horizontal; 
    align-content: center;
  }


  
button:hover{
	background-color: #b3c5d7;
}
textarea { resize: none; }